.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 306px;
  height: 367.5px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* header */

.header {
  width: 306px;
  height: 64.5px;
  background-color: #868686;
  border-width: 10px;
  border-top-style: ridge;
  border-right-style: ridge;
  border-left-style: ridge;
}

.bombcount {
  width: 30px;
  height: 30px;
}

.face {
  width: 39px;
  height: 39px;
  color: gray;

  /* border: 5px outset; */
}

.timercount {
  width: 30px;
  height: 30px;
}

/* main */
.main {
  width: 306px;
  height: 306px;
  background-color: #c6c6c6;
  border: 18px ridge;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  border: 1px solid #808080;
}

.tile {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  float: left;
  background: url('~/assets/images/icons.png');
}

.stone {
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  position: absolute;
  inset: 0;
  user-select: none;
  border-top: solid 4px #fff;
  border-left: solid 4px #fff;
  border-right: solid 4px #868686;
  border-bottom: solid 4px #868686;
}
