.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 252px;
  height: 313.5px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* header */

.header {
  width: 252px;
  height: 64.5px;
  background-color: gray;
  border-width: 10px;
  border-top-style: ridge;
  border-right-style: ridge;
  border-left-style: ridge;
}

.bombcount {
  width: 30px;
  height: 30px;
}

.face {
  width: 39px;
  height: 39px;
  color: gray;

  /* border: 5px outset; */
}

.timercount {
  width: 30px;
  height: 30px;
}

/* main */
.main {
  width: 252px;
  height: 252px;
  background-color: gray;
  border: 18px ridge;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  float: left;
}

.tile {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  float: left;
  background: url('~/assets/images/icons.png');
}

.stone {
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 4px outset;
}
